body {
    background: #1abc9c;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.menu, .header, .about, .mc, .contact{
    padding: 40px;
    background: #16a085;
    text-align: center;
    color: #bdc3c7;
    font-size: 35px;
}

.green:hover {
    color: #2ecc71;
    cursor: pointer;
}

.menu a {
    border: 0;
    background: none;
    display: inline;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 15px 40px;
    width: 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    background: #2ecc71;;
}

.a {
    height: 250px;
}

.about h3 {
    font-size: 50px;
}

.about p {
    text-align: left;
}

.contact a {
    border: 0;
    background: none;
    display: inline;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 15px 40px;
    width: 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
}

.contact a:hover {
    background: #2ecc71;
    cursor: pointer;
}